/* MyPage.css */

.my-page {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header-title {
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px; /* 이미지 너비 조정 */
    height: 100px; /* 이미지 높이 조정 */
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info {
    color: #333;
}

.content {
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer-text {
    color: #666;
}